header {
    margin: 50px 10px 0;
}

.container section, footer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

body .container:first-child {
    background-color: #E35656;
}

body .container:first-child img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #CCC60A;
}

.container section {
    padding: 10px;
}

nav {
    display: block;
    width: 100%;
    margin: 25px auto;
}

header h1, header h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    padding: 8px;
}


    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            margin: auto;
            display: inline-block;
            text-align: center;
            width: 32.70%;
        }

            nav ul li a {
                padding: 15px;
                width: 100%;
                display: block;
                color: #fff;
                /*text-decoration: none;*/
                font-size: 20px;
            }

            nav ul li a:hover {
                background-color: #dedede;
                color: #000;
                text-decoration: none;
            }

#gallery {
    list-style-type: none;
}

#gallery li {
    display: inline-block;
    margin: 3px;
    padding: 0px;
}

section#stichting {
    margin-top: 30px;
    border-top: 3px solid #000;
}

section#bestuur figure {
    text-align: center;
}

section#bestuur figcaption {
    margin: auto 5em;
    text-align: left;
}

section > h2 {
    border-bottom: 1px solid #dedede;
}

section.announcement {
    color : #000;
    font-size: 20px;
    text-align: center;
}

section.announcement img {
    border: 2px solid #c3c3c3;
}

section.announcement h3 {
    font-size: 40px;
}

section.announcement h4 {
    font-size: 30px;
}

section.announcement h5 {
    font-size: 20px;
    width: 40%;
    margin: auto;
    text-align: left;
    line-height: 1.3;
}

footer {
    border-top: 3px solid #000;
    text-align: center;
    margin-bottom: 10px;
}
